.result {
    position: relative;
    cursor: pointer;
    transition:
      transform 150ms ease,
      box-shadow 100ms ease;
    padding: var(--mantine-spacing-xl);
    padding-left: calc(var(--mantine-spacing-xl) * 2);
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: rem(6px);
      background-image: linear-gradient(
        0,
        var(--mantine-color-blue-1),
        var(--mantine-color-blue-6)
      );
    }

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(100% / auto);
    min-width: 375px;
    max-width: 440px;
    min-height: 250px;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

.inputs {
    display: flex;
    justify-content: space-between;
}

.fullHeight {
    height: 47px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}