.THeadDiv {
    overflow-y: scroll;
}

.TBodyDiv {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 700px;
    position: relative;
}

.TBodyDiv tr {
    font-weight: 600;
}

.TBodyDiv .Grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(96, 1fr);
    padding-left: 85px;
    padding-right: 2.5px;
    padding-bottom: 2.5px;
    gap: 2px;
}

.SavedSchedule thead tr :first-child, .SavedSchedule tbody tr :first-child {
    width: 83px;
    text-align: right;
    padding-right: 5px;
}

.SavedSchedule {
    table-layout: fixed;
    width: 100%;
    max-height: 800px;
    border-collapse: collapse;
}

.SavedSchedule td {
    border-left: 2px solid #07254a;
    border-right: 2px solid #07254a;
    border-bottom: 2px solid #07254a;
}

.SavedSchedule th {
    border: 2px solid #07254a;
}

.SavedSchedule thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 35px;
}



.SavedSchedule tbody td {
    height: 55px;
}

.SavedSchedule tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}
