.grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(33, 1fr);
    position: absolute;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    color: #58b7a9;
}

td {
    border: 1px solid lightgray;
    width: 1.5rem;
    height: 1rem;   
    text-align: center;
}

table tr:first-child{
    font-size: 0.75rem;
    color: lightgray;
}

#schedules {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 0 3rem 0 3rem;
}

#schedules * {
    flex: 0 0 11rem;
} 

.schedule-info {
    display: flex;
    flex-direction: column; 
    white-space: nowrap;
}

.schedule-info * {
    text-align: center;
    max-height: 3rem;
}

.single-class {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    border: 1px solid lightgray;
}

.choose-schedule-button{
    background-color: #0b1a30;
    border-style: none;
    cursor: pointer;
    color: #58b7a9;
    border: 2px solid #58b7a9;
    border-radius: 1rem;
}