body{
    padding-bottom: 2rem;
}

#schedule{
    width: 70rem;
    height: 50rem;
    margin: auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(30, 1fr);
    width: 70rem;
    height: 50rem;
    position: absolute;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 70rem;
    height: 50rem;
    color: #58b7a9;
}

td {
    border: 1px solid lightgray;    
    height: 1.25rem;
    text-align: center;
    color: lightgray;
}

.single-class {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    border: 1px solid lightgray;
}