#coursenumber{
    color: #58b7a9; 
    background-color: #0b1a30;
    border: 2px solid #58b7a9;
    font-size: 1.25rem;
}

#search-button{
    background-color: #0b1a30;
    color: #58b7a9;
    border-style: none;
    border: 2px solid #58b7a9;
    font-size: 1.25rem;
}

#search-button:hover{
    cursor: pointer;
}

#form-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

form{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 40%;
    margin-bottom: 2rem;
}

form input{
    padding: 0.5rem;
    flex: 3;
}

form button{
    flex: 1;
}

#results{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.course-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    width: 70%;
    padding: 1rem;
    color: #6ad6c6;
    background-color: #192b47;
}

.info-container {
    flex: 1;
    gap: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-description {
    flex: 3;
}

.choose-button{
    flex: 1;
    min-height: 2rem;
    max-height: 3rem;
    max-width: 5rem;
    background-color: #192b47;
    color: #58b7a9;
    border-style: none;
    border: 2px solid #58b7a9;
}

.choose-button:hover{
    cursor: pointer;
}


.dropdown-check-list {
    display: inline-block;
}
  
.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #ccc;
}
  
.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
 
.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}
  
.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    z-index: 1;
  }
  
  
.dropdown-check-list ul.items li {
    list-style: none;
}
  
.dropdown-check-list.visible .items {
    display: block;
    background-color: #192b47;
    text-align: center;
}

#help{
    color: #58b7a9;
    margin: auto 0 auto 0;
    font-size: 1.5rem;
    border: 2px solid #58b7a9;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
}