html{
    height: 100%;
}

#form-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

form{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 40%;
    margin-bottom: 2rem;
}

form input{
    padding: 0.5rem;
    flex: 3;
}

form button{
    flex: 1;
}

#results{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.course-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
    width: 70%;
    padding: 1rem;
}

.info-container {
    flex: 1;
    gap: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-description {
    flex: 3;
}

.choose-button{
    flex: 1;
    min-height: 2rem;
    max-height: 3rem;
    max-width: 5rem;
}

#chosen-courses{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.chosen-course {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
}

#chosen-courses > *{
    flex: 0 0 8rem;
}


nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
}